
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /web1/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web1/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\web1/wp-content/uploads\simply-static\4855d2c0c5980e88e11a9d0984e1903a-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static